@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
body {
    background-color:hsl(0, 0%, 95%);
    min-height: 100vh; 
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    margin: 2rem;
    overflow: hidden;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}

.box {
    padding: 40px;
}

.box h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
}

.box p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}

.box a {
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all 3s ease;
}

.sedans a {
    color: hsl(31, 77%, 52%);
}

.suvs a {
    color: hsl(184, 100%, 22%);
}

.luxury a {
    color: hsl(179, 100%, 13%);
}

.sedans a:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}

.suvs a:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

.luxury a:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}
@media only screen and (max-width: 768px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 425px) {
    .wrapper {
        margin: 1rem .5rem;
    }
}