@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    margin: 2rem 1rem;
    padding: 20px;
    background: hsl(216, 50%, 16%);
    border-radius: 15px;
    
}

.image-top {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    
}

.image-top img {
    width: 100%;
    display: block;
    
}

.image-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;  
    top: 50%;
    transform: translate(-50%,-50%);
}

.image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: hsla(178, 100%, 50%,0.4);
    display: none;
}

.image-top:hover .image-overlay {
    display: block;

}

.box-text a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    display: inline-block;
}

p {
    color: hsl(215, 51%, 70%);
}

.box-text a:hover{
    color: hsl(178, 100%, 50%);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.eth, .days {
    display: flex;
    align-items: center;
}

.eth p {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 7px;
}

.days p {
    padding: 7px;
}

hr {
    border-color: hsl(215, 32%, 27%);
}

.footer {
    display: flex;
    align-items: center;
}

.footer img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}

.footer p {
    padding-left: 10px;
}

.footer p, a.name {
    font-size: 15px;
}

